.sign-up__input-label-password-confirmation {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fd0000;
    /* margin-bottom: 30px; */
    display: block;
    position: relative;
}