.header {
    padding-top: 45px;
    margin: 0 auto;
    width: 100%;
    min-height: 73px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 882px) {
    .header {
        min-height: 55px;
        padding-top: 28px;
    }
}